<div class="row py-5 px-3">
  <div class="col-12 mb-3">
    <chart [options]="monthlyOptions"></chart>
  </div>
  <div class="col-12 mb-5">
    <div class="row text-center" *ngIf="data">
      <div class="col-2">
        <h4>{{ data['ga:sessions']['total'] | number }}</h4>
        <div class="text-muted">Sessions</div>
      </div>
      <div class="col-2">
        <h4>{{ data['ga:users']['total'] | number }}</h4>
        <div class="text-muted">Users</div>
      </div>
      <div class="col-2">
        <h4>{{ data['ga:newUsers']['total'] | number }}</h4>
        <div class="text-muted">NewUsers</div>
      </div>
      <div class="col-2">
        <h4>{{ data['ga:pageviews']['total'] | number }}</h4>
        <div class="text-muted">Pageviews</div>
      </div>
      <div class="col-2">
        <h4>{{ data['ga:bounceRate']['total'] | number:'.0-0' }}%</h4>
        <div class="text-muted">BounceRate</div>
      </div>
      <div class="col-2">
        <h4>{{ data['ga:goalCompletionsAll']['total'] | number }}</h4>
        <div class="text-muted">Goal Completions</div>
      </div>
    </div>
  </div>
</div>